<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/libraries/bootstrap/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/css/list_style.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header th:replace="layout/navbar :: navbar"></header>

    <div>
        <div class="alert alert-success" th:if="${success}">
            <span th:text="${success}"></span>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Type</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <th scope="row" th:text="${user.id}"></th>
                            <td class="" th:text="${user.name}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.type}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/users/edit/{id}(id = ${user.id})}">
                                    <i class="material-icons"> edit </i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" th:href="@{/users/delete/{id}(id = ${user.id})}" onclick="return confirm('Are you sure?');">
                                    <i class="material-icons"> delete </i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <nav th:replace="layout/paginator-nav :: paginator"></nav>
            </div>
        </div>
    </div>

</body>
</html>